In [1]:
from twitterscraper import query_tweets
from datetime import timedelta, date
import pandas as pd
import csv
import pickle
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from scipy.sparse import hstack
%matplotlib

Using matplotlib backend: MacOSX

In [5]:
filename1 = "classified/Andrea/wikileaks"
df1 = pd.read_csv(filename1, encoding = "ISO-8859-1")

In [6]:
df1.head()

,Unnamed: 0,date,fullname,id,likes,replies,retweets,text,url,user,month,toxic,severe_toxic,obscene,threat,insult,identity_hate,classification,max_value
0,0,2016-07-08 23:59:30,Liberty Sauce,751566409860255744,0.0,0.0,0.0,Could argue they were deliberately misplaced. ...,/disturbedsauce/status/751566409860255744,disturbedsauce,2016-07-01,0.005018,0.000607,0.000440,0.000061,0.000130,0.000037,toxic,0.005018
1,1,2016-07-08 23:58:35,Liberty Sauce,751566182289903616,0.0,1.0,0.0,No they were sent to archives and misplaced.\n...,/disturbedsauce/status/751566182289903616,disturbedsauce,2016-07-01,0.012006,0.000215,0.000151,0.000064,0.000052,0.000017,toxic,0.012006
2,2,2016-07-08 23:57:20,The Startupper,751565864663736320,0.0,0.0,0.0,"Twittosofia: Wikileaks Releases 1,258 Clinton ...",/TheStartupper/status/751565864663736320,TheStartupper,2016-07-01,0.007615,0.002113,0.000045,0.000071,0.000621,0.000049,toxic,0.007615
3,3,2016-07-08 23:56:49,The Baader Report,751565737219674112,0.0,0.0,1.0,You don't need #NewHillaryConspiracyTheories\n...,/Lemmits92/status/751565737219674112,Lemmits92,2016-07-01,0.006067,0.000370,0.000220,0.000078,0.000046,0.000040,toxic,0.006067
4,6,2016-07-08 23:52:55,michael,751564756000116736,2.0,1.0,1.0,post as pic! @EMMA__732 @TrumpsGucciGirl @DHec...,/nyvetvote/status/751564756000116736,nyvetvote,2016-07-01,0.002070,0.000182,0.000037,0.000016,0.000017,0.000019,toxic,0.002070

In [7]:
max(df1.date)

'2018-02-28 23:58:57'

In [8]:
min(df1.date)

'2016-01-01 23:20:16'

In [10]:
df1.sort_values('date').date

3727     2016-01-01 23:20:16
3726     2016-01-01 23:21:23
3725     2016-01-01 23:24:50
3724     2016-01-01 23:27:37
3723     2016-01-01 23:30:34
3722     2016-01-01 23:32:50
3721     2016-01-01 23:33:19
3720     2016-01-01 23:33:39
3719     2016-01-01 23:33:48
3718     2016-01-01 23:37:15
3717     2016-01-01 23:40:13
3716     2016-01-01 23:41:00
3715     2016-01-01 23:45:53
3714     2016-01-01 23:47:51
3713     2016-01-01 23:51:19
3712     2016-01-01 23:51:36
3711     2016-01-01 23:51:54
3710     2016-01-01 23:55:04
3709     2016-01-01 23:55:12
1906     2016-01-02 23:20:16
1905     2016-01-02 23:28:11
1904     2016-01-02 23:28:51
1903     2016-01-02 23:29:01
1902     2016-01-02 23:29:48
1901     2016-01-02 23:30:53
1900     2016-01-02 23:31:33
1899     2016-01-02 23:34:39
1898     2016-01-02 23:36:56
1897     2016-01-02 23:42:11
1896     2016-01-02 23:43:44
                ...
14414    2018-02-27 23:58:24
14413    2018-02-27 23:58:42
14412    2018-02-27 23:58:45
14411    2018-02-27 23:59:00
14410    2018-02-27 23:59:00
14409    2018-02-27 23:59:03
14408    2018-02-27 23:59:04
14407    2018-02-27 23:59:08
14406    2018-02-27 23:59:10
14405    2018-02-27 23:59:12
13797    2018-02-28 23:48:32
13796    2018-02-28 23:48:34
13795    2018-02-28 23:48:37
13794    2018-02-28 23:48:56
13793    2018-02-28 23:49:02
13792    2018-02-28 23:49:08
13791    2018-02-28 23:50:29
13790    2018-02-28 23:52:11
13789    2018-02-28 23:52:30
13788    2018-02-28 23:53:13
13787    2018-02-28 23:54:37
13786    2018-02-28 23:54:49
13785    2018-02-28 23:55:12
13784    2018-02-28 23:56:14
13783    2018-02-28 23:56:24
13782    2018-02-28 23:56:40
13781    2018-02-28 23:57:22
13780    2018-02-28 23:57:29
13779    2018-02-28 23:58:53
13778    2018-02-28 23:58:57
Name: date, Length: 14425, dtype: object